body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f5f2;
  color: #333;
}

header {
  background-color: #14cdd3;
  color: rgb(16, 115, 229);
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  gap: 10px;
}

.search-section input {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.search-section button {
  background-color: #007bff;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.search-section button:hover {
  background-color: #0056b3;
}

.info-section {
  max-width: 600px;
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto 1rem auto;
  text-align: center;
}

#map {
  height: 70vh;
  width: 90%;
  margin: 0 auto 1rem auto;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

